

.container {padding: 0 15px; margin: 0 auto;}
container {padding: 0 15px; margin: 0 auto;}

// row
row , .row{
    display: flex;
    flex-wrap: wrap;
    // row-c : row & center object from forth directions
    &-c{display: flex;justify-content: center;align-items: center;}
}

// corow : container & row
corow , .corow{
    display: flex;
    flex-wrap: wrap;
    @extend .container;

    // corow : container & row-c
    &-c{
        @extend .container;
        @extend row-c;
    }
}

// row : row & xcol
rox , .rox{
    @extend row; @extend xcol;
    &-10{@extend row; @extend xcol-10;}
    //&-11{@extend row; @extend xcol-11;}
    //&-14{@extend row; @extend xcol-14;}
    //&-16{@extend row; @extend xcol-16;}
    &-20{@extend row; @extend xcol-20;}
    //&-25{@extend row; @extend xcol-25;}
    &-30{@extend row; @extend xcol-30;}
    //&-33{@extend row; @extend xcol-33;}
    &-40{@extend row; @extend xcol-40;}
    &-50{@extend row; @extend xcol-50;}
    &-60{@extend row; @extend xcol-60;}
    &-70{@extend row; @extend xcol-70;}
    &-80{@extend row; @extend xcol-80;}
    &-90{@extend row; @extend xcol-90;}
}
@media (min-width: 768px) {    .container {width: 750px;} container {width: 750px;}   corow{width: 750px;}  }
@media (min-width: 992px) {    .container {width: 970px;}  container {width: 970px;}  corow{width: 970px;}  }
@media (min-width: 1200px) {    .container {width: 1170px;} container {width: 1170px;}   corow{width: 1170px;}  }
// xcol
.xcol_opt{position: relative;padding: 10px;}

.xcol , xcol{
    flex: 0 0 100%;
    max-width: 100%;
    @extend .xcol_opt;
    @for $i from 1 through 9{
        &-#{$i*10} {
            flex: 0 0 $i*10%;
            max-width: $i*10%;
            @extend .xcol_opt;
            @for $j from 1 through 9{
                &-#{$j*10} {
                    flex: 0 0 $i*10%;
                    max-width: $i*10%;
                    @extend .xcol_opt;
                    @for $k from 1 through 9{
                        &-#{$k*10} {
                            flex: 0 0 $i*10%;
                            max-width: $i*10%;
                            @extend .xcol_opt;
                        }
                    }
                }
            }
        }
    }

    &-10{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-10;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-10;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-10;@extend .xcol_opt;}
        }
    }
    &-11{flex: 0 0 11%;max-width: 11%;@extend .xcol_opt;
        &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-11;@extend .xcol_opt;
            &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-11;@extend .xcol_opt;}
        }
    }
    &-14{flex: 0 0 14%;max-width: 14%;@extend .xcol_opt;
        &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-14;@extend .xcol_opt;
            &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-14;@extend .xcol_opt;}
        }
    }
    &-16{flex: 0 0 16.666%;max-width: 16.666%;@extend .xcol_opt;
        &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-16;@extend .xcol_opt;
            &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-16;@extend .xcol_opt;}
        }
    }
    &-20{
         &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
             &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-20;@extend .xcol_opt;}
         }
         &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-20;@extend .xcol_opt;
             &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-20;@extend .xcol_opt;}
         }
     }
    &-25{flex: 0 0 25%;max-width: 25%;@extend .xcol_opt;
        &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-25;@extend .xcol_opt;
            &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-25;@extend .xcol_opt;}
        }
    }
    &-30{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-30;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-30;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-30;@extend .xcol_opt;}
        }
    }
    &-33{flex: 0 0 33%;max-width: 33%;@extend .xcol_opt;
        &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-33;@extend .xcol_opt;
            &-11 ,&-14 ,&-16,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90{@extend .xcol-33;@extend .xcol_opt;}
        }
    }
    &-40{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-40;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-40;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-40;@extend .xcol_opt;}
        }
    }
    &-50{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-50;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-50;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-50;@extend .xcol_opt;}
        }
    }
    &-60{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-60;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-60;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-60;@extend .xcol_opt;}
        }
    }
    &-70{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-70;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-70;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-70;@extend .xcol_opt;}
        }
    }
    &-80{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-80;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-80;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-80;@extend .xcol_opt;}
        }
    }
    &-90{
        &-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{
            &-11,&-14,&-16,&-16,&-25,&-33{@extend .xcol-90;@extend .xcol_opt;}
        }
        &-11, &-14 , &-16 ,&-25 , &-33{@extend .xcol-90;@extend .xcol_opt;
            &-11,&-14,&-16,&-16,&-25,&-33,&-10,&-20,&-30,&-40,&-50,&-60,&-70,&-80,&-90{@extend .xcol-90;@extend .xcol_opt;}
        }
    }
}



@media screen and (max-width: 992px){
    .xcol , xcol{
        @for $i from 1 through 9{
            &-#{$i*10} {
                flex: 0 0 100%;
                max-width: 100%;
                @for $j from 1 through 9{
                    &-#{$j*10} {
                        flex: 0 0 $j*10%;
                        max-width: $j*10%;
                        @for $k from 1 through 9{
                            &-#{$k*10} {
                                flex: 0 0 $j*10%;
                                max-width: $j*10%;
                            }
                        }
                    }
                }
            }
        }


        &-10,&-20 ,&-10 ,&-30 ,&-40 ,&-60 ,&-70 ,&-80 ,&-90{
            &-10{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 10%;max-width: 10%;}}
            &-11{flex: 0 0 11%;max-width: 11%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 11%;max-width: 11%;}
            }
            &-14{flex: 0 0 14%;max-width: 14%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 14%;max-width: 14%;}
            }
            &-16{flex: 0 0 1.6666%;max-width: 16.666%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 16.666%;max-width: 16.666%;}
            }
            &-20{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 20%;max-width: 20%;}}
            &-25{flex: 0 0 25%;max-width: 25%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 25%;max-width: 25%;}
            }
            &-30{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 30%;max-width: 30%;}}
            &-33{flex: 0 0 33.333%;max-width: 33.333%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 33.333%;max-width: 33.333%;}
            }
            &-40{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 40%;max-width: 40%;}}
            &-50{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 50%;max-width: 50%;}}
            &-60{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 60%;max-width: 60%;}}
            &-70{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 70%;max-width: 70%;}}
            &-80{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 80%;max-width: 80%;}}
            &-90{&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 90%;max-width: 90%;}}
        }
        &-11,&-14 ,&-16 ,&-25 ,&-33{
            &-10{flex: 0 0 10%;max-width: 10%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 10%;max-width: 10%;}
            }
            &-11{flex: 0 0 11%;max-width: 11%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 11%;max-width: 11%;}
            }
            &-14{flex: 0 0 14%;max-width: 14%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 14%;max-width: 14%;}
            }
            &-16{flex: 0 0 16.666%;max-width: 16.666%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 16.666%;max-width: 16.666%;}
            }
            &-20{flex: 0 0 20%;max-width: 20%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 20%;max-width: 20%;}
            }
            &-25{flex: 0 0 25%;max-width: 25%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 25%;max-width: 25%;}
            }
            &-30{flex: 0 0 30%;max-width: 30%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 30%;max-width: 30%;}
            }
            &-33{flex: 0 0 33.333%;max-width: 33.333%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 33.333%;max-width: 33.333%;}
            }
            &-40{flex: 0 0 40%;max-width: 40%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 40%;max-width: 40%;}
            }
            &-50{flex: 0 0 50%;max-width: 50%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 50%;max-width: 50%;}
            }
            &-60{flex: 0 0 60%;max-width: 60%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 60%;max-width: 60%;}
            }
            &-70{flex: 0 0 70%;max-width: 70%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 70%;max-width: 70%;}
            }
            &-80{flex: 0 0 80%;max-width: 80%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 80%;max-width: 80%;}
            }
            &-90{flex: 0 0 90%;max-width: 90%;
                &-11 ,&-14 ,&-16 ,&-25 ,&-33 ,&-10 ,&-20 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70,&-80,&-90{flex: 0 0 90%;max-width: 90%;}
            }
        }
    }

}
@media screen and (max-width: 500px){
    .xcol , xcol{
        @for $i from 1 through 9{
            &-#{$i*10} {
                flex: 0 0 100%;
                max-width: 100%;
                @for $j from 1 through 9{
                    &-#{$j*10} {
                        flex: 0 0 100%;
                        max-width: 100%;
                        @for $k from 1 through 9{
                            &-#{$k*10} {
                                flex: 0 0 $k*10%;
                                max-width: $k*10%;
                            }
                        }
                    }
                }
            }
        }


        &-10 ,&-20 ,&-10 ,&-30 ,&-40 &-50,&-60 ,&-70 ,&-80 ,&-90{
            &-10 ,&-20 ,&-10 ,&-30 ,&-40 ,&-60 ,&-70 ,&-80 ,&-90 {
                &-11{flex: 0 0 11%;max-width: 11%;}
                &-14{flex: 0 0 14%;max-width: 14%;}
                &-16{flex: 0 0 16.666%;max-width: 16.666%;}
                &-25{flex: 0 0 25%;max-width: 25%;}
                &-33{flex: 0 0 33.333%;max-width: 33.333%;}
                &-10{flex: 0 0 10%;max-width: 10%;}
                &-20{flex: 0 0 20%;max-width: 20%;}
                &-30{flex: 0 0 30%;max-width: 30%;}
                &-40{flex: 0 0 40%;max-width: 40%;}
                &-50{flex: 0 0 50%;max-width: 50%;}
                &-60{flex: 0 0 60%;max-width: 60%;}
                &-70{flex: 0 0 70%;max-width: 70%;}
                &-80{flex: 0 0 80%;max-width: 80%;}
                &-90{flex: 0 0 90%;max-width: 90%;}
            }
            &-11 ,&-14 ,&-16 ,&-25 ,&-33 {flex: 0 0 100%;max-width: 100%;
                &-11{flex: 0 0 11%;max-width: 11%;}
                &-14{flex: 0 0 14%;max-width: 14%;}
                &-16{flex: 0 0 16.666%;max-width: 16.666%;}
                &-25{flex: 0 0 25%;max-width: 25%;}
                &-33{flex: 0 0 33.333%;max-width: 33.333%;}
                &-10{flex: 0 0 10%;max-width: 10%;}
                &-20{flex: 0 0 20%;max-width: 20%;}
                &-30{flex: 0 0 30%;max-width: 30%;}
                &-40{flex: 0 0 40%;max-width: 40%;}
                &-50{flex: 0 0 50%;max-width: 50%;}
                &-60{flex: 0 0 60%;max-width: 60%;}
                &-70{flex: 0 0 70%;max-width: 70%;}
                &-80{flex: 0 0 80%;max-width: 80%;}
                &-90{flex: 0 0 90%;max-width: 90%;}
            }
        }
        &-11 ,&-14 ,&-16 ,&-25 ,&-33{
            &-10,&-20 ,&-10 ,&-30 ,&-40 ,&-50 ,&-60 ,&-70 ,&-80 ,&-90,&-11 ,&-14 ,&-16 ,&-25 ,&-33{flex: 0 0 100%;max-width: 100%;
                &-11{flex: 0 0 11%;max-width: 11%;}
                &-14{flex: 0 0 14%;max-width: 14%;}
                &-16{flex: 0 0 16.666%;max-width: 16.666%;}
                &-25{flex: 0 0 25%;max-width: 25%;}
                &-33{flex: 0 0 33.333%;max-width: 33.333%;}
                &-10{flex: 0 0 10%;max-width: 10%;}
                &-20{flex: 0 0 20%;max-width: 20%;}
                &-30{flex: 0 0 30%;max-width: 30%;}
                &-40{flex: 0 0 40%;max-width: 40%;}
                &-50{flex: 0 0 50%;max-width: 50%;}
                &-60{flex: 0 0 60%;max-width: 60%;}
                &-70{flex: 0 0 70%;max-width: 70%;}
                &-80{flex: 0 0 80%;max-width: 80%;}
                &-90{flex: 0 0 90%;max-width: 90%;}
            }
        }
    }



}





column , .column{
    columns: auto;
    display: block;
    orphans: 1;
    widows: 1;
    column-fill: balance;
    padding: 10px;

    .vcol , vcol{width: 100%;break-inside: avoid;display: inline-block;}
    .vcol-span , vcol-span{column-span: all;display: block;}


    @for $i from 1 to 6{
        &-#{$i}{
            @extend column;column-count: #{$i};
            &-2 ,&-3 ,&-4 ,&-5 {@extend column;@extend .column-#{$i};&-2 ,&-3 ,&-4 ,&-5{@extend column;@extend .column-#{$i};}}
        }
    }
}

@media screen and (max-width: 992px){
    column , .column{
        &-2{
            column-count: 1;

            &-2{
                column-count: 2;

                &-2{column-count: 2;}
                &-3{column-count: 2;}
                &-4{column-count: 2;}
                &-5{column-count: 2;}
            }


            &-3{
                column-count: 3;

                &-2{column-count: 3;}
                &-3{column-count: 3;}
                &-4{column-count: 3;}
                &-5{column-count: 3;}
            }


            &-4{
                column-count: 4;

                &-2{column-count: 4;}
                &-3{column-count: 4;}
                &-4{column-count: 4;}
                &-5{column-count: 4;}
            }


            &-5{
                column-count: 5;

                &-2{column-count: 5;}
                &-3{column-count: 5;}
                &-4{column-count: 5;}
                &-5{column-count: 5;}
            }
        }
        &-3{
            column-count: 1;
            &-2{
                column-count: 2;

                &-2{column-count: 2;}
                &-3{column-count: 2;}
                &-4{column-count: 2;}
                &-5{column-count: 2;}
            }


            &-3{
                column-count: 3;

                &-2{column-count: 3;}
                &-3{column-count: 3;}
                &-4{column-count: 3;}
                &-5{column-count: 3;}
            }


            &-4{
                column-count: 4;

                &-2{column-count: 4;}
                &-3{column-count: 4;}
                &-4{column-count: 4;}
                &-5{column-count: 4;}
            }


            &-5{
                column-count: 5;

                &-2{column-count: 5;}
                &-3{column-count: 5;}
                &-4{column-count: 5;}
                &-5{column-count: 5;}
            }
        }
        &-4{
            column-count: 1;
            &-2{
                column-count: 2;

                &-2{column-count: 2;}
                &-3{column-count: 2;}
                &-4{column-count: 2;}
                &-5{column-count: 2;}
            }


            &-3{
                column-count: 3;

                &-2{column-count: 3;}
                &-3{column-count: 3;}
                &-4{column-count: 3;}
                &-5{column-count: 3;}
            }


            &-4{
                column-count: 4;

                &-2{column-count: 4}
                &-3{column-count: 4;}
                &-4{column-count: 4;}
                &-5{column-count: 4;}
            }


            &-5{
                column-count: 5;

                &-2{column-count: 5;}
                &-3{column-count: 5;}
                &-4{column-count: 5;}
                &-5{column-count: 5;}
            }

        }
        &-5{
            column-count: 1;
            &-2{
                column-count: 2;

                &-2{column-count: 2;}
                &-3{column-count: 2;}
                &-4{column-count: 2;}
                &-5{column-count: 2;}
            }


            &-3{
                column-count: 3;

                &-2{column-count: 3;}
                &-3{column-count: 3;}
                &-4{column-count: 3;}
                &-5{column-count: 3;}
            }


            &-4{
                column-count: 4;

                &-2{column-count: 4;}
                &-3{column-count: 4;}
                &-4{column-count: 4;}
                &-5{column-count: 4;}
            }


            &-5{
                column-count: 5;

                &-2{column-count: 5;}
                &-3{column-count: 5;}
                &-4{column-count: 5;}
                &-5{column-count: 5;}
            }
        }
    }
}

@media screen and (max-width: 500px){
    column , .column{
        &-2{
            column-count: 1;

            &-2{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-3{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-4{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-5{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }
        }
        &-3{
            column-count: 1;
            &-2{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-3{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-4{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-5{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }
        }
        &-4{
            column-count: 1;
            &-2{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-3{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-4{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-5{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }

        }
        &-5{
            column-count: 1;
            &-2{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-3{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-4{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }


            &-5{
                column-count: 1;

                &-2{column-count: 2;}
                &-3{column-count: 3;}
                &-4{column-count: 4;}
                &-5{column-count: 5;}
            }
        }
    }
}
