


$primary : #6182b7;
$primaryHA : #5a79ab;
$primaryG : rgba(90, 121, 171, 0.3);

$light: #f1f1f1;
$lightHA: #e5e5e5;
$lightG: rgba(229, 229, 229, 0.3);

$dark: #161d20;
$darkHA: #0d1113;
$darkG: rgba(13, 17, 19, 0.3);

$warning: #ec4908;
$warningHA: #de450a;
$warningG: rgba(222, 69, 10, 0.3);

$danger: #d9534f;
$dangerHA: #cd4e4a;
$dangerG: rgba(205, 78, 74, 0.3);

$info: #5bc0de;
$infoHA: #0099CC;
$infoG: rgba(0, 153, 204, 0.3);

$success: #009774;
$successHA: #008668;
$successG: rgba(0, 134, 104, 0.3);

$secondary: #655653;
$secondaryHA : #5f514e;
$secondaryG : rgba(95, 81, 78, 0.3);

$bee: #ffc40e;
$beeHA: #efb90e;
$beeG: rgba(239, 185, 14, 0.3);
