::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
  margin: 15px 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0275d8;
  border-radius: 10px;
  scroll-padding-block-start: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #00a0d6;
}

::-webkit-scrollbar-track {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: unset;
}
* ul {
  list-style: none;
}
* p {
  font-size: 1rem;
}
* h1 {
  font-size: 2.5rem;
}
* h2 {
  font-size: 2rem;
}
* h3 {
  font-size: 1.75rem;
}
* h4 {
  font-size: 1.5rem;
}
* h5 {
  font-size: 1.25rem;
}
* h6 {
  font-size: 1.15rem;
}
* p, * h1, * h2, * h3, * h4, * h5, * h6, * .h1, * .h2, * .h3, * .h4, * .h5, * .h6 {
  margin: 0 !important;
  font-weight: 500;
  line-height: 1.7;
  color: inherit;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  opacity: 0.3;
}

.dir-r {
  direction: rtl;
}
.dir-l {
  direction: ltr;
}
.dir-unset {
  direction: unset;
}

.opt-0 {
  opacity: 0;
}
.opt-1 {
  opacity: 0.1;
}
.opt-2 {
  opacity: 0.2;
}
.opt-3 {
  opacity: 0.3;
}
.opt-4 {
  opacity: 0.4;
}
.opt-5 {
  opacity: 0.5;
}
.opt-6 {
  opacity: 0.6;
}
.opt-7 {
  opacity: 0.7;
}
.opt-8 {
  opacity: 0.8;
}
.opt-9 {
  opacity: 0.9;
}
.opt-10 {
  opacity: 1;
}

.p-abs {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-rel {
  position: relative;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-unset {
  display: unset;
}

.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.wv-25 {
  width: 25vw !important;
}
.wv-50 {
  width: 50vw;
}
.wv-75 {
  width: 75vw !important;
}
.wv-100 {
  width: 100vw !important;
}

.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.hv-25 {
  height: 25vh !important;
}
.hv-50 {
  height: 50vh !important;
}
.hv-75 {
  height: 75vh !important;
}
.hv-100 {
  height: 100vh !important;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}
.z-7 {
  z-index: 7;
}
.z-8 {
  z-index: 8;
}
.z-9 {
  z-index: 9;
}
.z-10 {
  z-index: 999;
}

.trans-1 {
  transition: 0.1s ease-in-out;
}
.trans-2, button, .btn, a.btn {
  transition: 0.2s ease-in-out;
}
.trans-3 {
  transition: 0.3s ease-in-out;
}
.trans-4 {
  transition: 0.4s ease-in-out;
}
.trans-5 {
  transition: 0.5s ease-in-out;
}

.round-0 {
  border-radius: 0;
}
.rounded {
  border-radius: 5px;
}
.round-10 {
  border-radius: 10px;
}
.round-20 {
  border-radius: 20px;
}
.round-30 {
  border-radius: 30px;
}
.round-40 {
  border-radius: 40px;
}
.round-50, .btn-o-bee-r, .btn-o-bee-r-block, a.btn-o-bee-r-block, a.btn-o-bee-r, .btn-o-secondary-r, .btn-o-secondary-r-block, a.btn-o-secondary-r-block, a.btn-o-secondary-r, .btn-o-white-r, .btn-o-white-r-block, a.btn-o-white-r-block, a.btn-o-white-r, .btn-o-success-r, .btn-o-success-r-block, a.btn-o-success-r-block, a.btn-o-success-r, .btn-o-info-r, .btn-o-info-r-block, a.btn-o-info-r-block, a.btn-o-info-r, .btn-o-danger-r, .btn-o-danger-r-block, a.btn-o-danger-r-block, a.btn-o-danger-r, .btn-o-warning-r, .btn-o-warning-r-block, a.btn-o-warning-r-block, a.btn-o-warning-r, .btn-o-dark-r, .btn-o-dark-r-block, a.btn-o-dark-r-block, a.btn-o-dark-r, .btn-o-light-r, .btn-o-light-r-block, a.btn-o-light-r-block, a.btn-o-light-r, .btn-o-primary-r, .btn-o-primary-r-block, a.btn-o-primary-r-block, a.btn-o-primary-r, .btn-bee-r, .btn-bee-r-block, a.btn-bee-r-block, a.btn-bee-r, .btn-secondary-r, .btn-secondary-r-block, a.btn-secondary-r-block, a.btn-secondary-r, .btn-white-r, .btn-white-r-block, a.btn-white-r-block, a.btn-white-r, .btn-success-r, .btn-success-r-block, a.btn-success-r-block, a.btn-success-r, .btn-info-r, .btn-info-r-block, a.btn-info-r-block, a.btn-info-r, .btn-danger-r, .btn-danger-r-block, a.btn-danger-r-block, a.btn-danger-r, .btn-warning-r, .btn-warning-r-block, a.btn-warning-r-block, a.btn-warning-r, .btn-dark-r, .btn-dark-r-block, a.btn-dark-r-block, a.btn-dark-r, .btn-light-r, .btn-light-r-block, a.btn-light-r-block, a.btn-light-r, .btn-primary-r, .btn-primary-r-block, a.btn-primary-r-block, a.btn-primary-r {
  border-radius: 50px;
}
.round-circle {
  border-radius: 50%;
}

.rtl-5 {
  border-top-left-radius: 5px;
}
.rtl-10 {
  border-top-left-radius: 10px;
}
.rtl-20 {
  border-top-left-radius: 20px;
}
.rtl-30 {
  border-top-left-radius: 30px;
}
.rtl-40 {
  border-top-left-radius: 40px;
}
.rtl-50 {
  border-top-left-radius: 50px;
}
.rtr-5 {
  border-top-right-radius: 5px;
}
.rtr-10 {
  border-top-right-radius: 10px;
}
.rtr-20 {
  border-top-right-radius: 20px;
}
.rtr-30 {
  border-top-right-radius: 30px;
}
.rtr-40 {
  border-top-right-radius: 40px;
}
.rtr-50 {
  border-top-right-radius: 50px;
}
.rbl-5 {
  border-bottom-left-radius: 5px;
}
.rbl-10 {
  border-bottom-left-radius: 10px;
}
.rbl-20 {
  border-bottom-left-radius: 20px;
}
.rbl-30 {
  border-bottom-left-radius: 30px;
}
.rbl-40 {
  border-bottom-left-radius: 40px;
}
.rbl-50 {
  border-bottom-left-radius: 50px;
}
.rbr-5 {
  border-bottom-right-radius: 5px;
}
.rbr-10 {
  border-bottom-right-radius: 10px;
}
.rbr-20 {
  border-bottom-right-radius: 20px;
}
.rbr-30 {
  border-bottom-right-radius: 30px;
}
.rbr-40 {
  border-bottom-right-radius: 40px;
}
.rbr-50 {
  border-bottom-right-radius: 50px;
}

.box-s {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

navlight, navdark, navtransparent {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 60px;
  transition: 0.3s ease-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  z-index: 900;
}
navlight *, navdark *, navtransparent * {
  padding: 5px;
  text-decoration: none;
  color: black;
}
navlight brand, navdark brand, navtransparent brand {
  height: 60px;
  display: flex;
  align-items: center;
}
navlight brand img, navdark brand img, navtransparent brand img {
  height: 50px;
}
navlight .nav-toggle, navdark .nav-toggle, navtransparent .nav-toggle {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px;
  border-radius: 5px;
}
navlight .nav-toggle i *, navdark .nav-toggle i *, navtransparent .nav-toggle i * {
  color: black !important;
}
navlight ul, navdark ul, navtransparent ul {
  display: flex;
  list-style: none;
}
navlight ul li, navdark ul li, navtransparent ul li {
  display: flex;
  align-items: center;
}
navlight ul li a, navdark ul li a, navtransparent ul li a {
  text-transform: capitalize;
  opacity: 0.6;
}
navlight ul li a:hover, navlight ul li a.active, navdark ul li a:hover, navdark ul li a.active, navtransparent ul li a:hover, navtransparent ul li a.active {
  opacity: 1;
  font-weight: bold;
}
navlight[class*=fixed], navdark[class*=fixed], navtransparent[class*=fixed] {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
navlight[class*=noshadow], navdark[class*=noshadow], navtransparent[class*=noshadow] {
  box-shadow: unset;
}
navlight[class*=uppercase] ul li a, navdark[class*=uppercase] ul li a, navtransparent[class*=uppercase] ul li a {
  text-transform: uppercase;
}

/* if nav was light */
navlight {
  background-color: #ffffff;
}

navlight * {
  color: #161d20;
}

navlight .nav-toggle {
  border-color: #292b2c46;
}

/*if nav was dark */
navdark {
  background-color: #161d20;
}

navdark * {
  color: #f1f1f1;
}

navdark .nav-toggle {
  border-color: #f7f7f746;
}

/*if nav was transparent */
navtransparent {
  background-color: rgba(0, 0, 0, 0);
}

navtransparent * {
  color: #161d20;
}

navtransparent .nav-toggle {
  border-color: #292b2c46;
}

/*if width was less @800 */
@media screen and (max-width: 800px) {
  navlight, navdark, navtransparent {
    height: 60px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  navlight brand, navdark brand, navtransparent brand {
    flex: 0 0 80%;
  }
  navlight .nav-toggle, navdark .nav-toggle, navtransparent .nav-toggle {
    flex: 0 0 10%;
    display: block;
  }
  navlight ul, navdark ul, navtransparent ul {
    flex: 0 0 100%;
    flex-wrap: wrap;
  }
  navlight ul li, navdark ul li, navtransparent ul li {
    flex: 0 0 100%;
  }
}
.btn-block, .btn-o-bee-r-block, a.btn-o-bee-r-block, .btn-o-bee-block, a.btn-o-bee-block, .btn-o-secondary-r-block, a.btn-o-secondary-r-block, .btn-o-secondary-block, a.btn-o-secondary-block, .btn-o-white-r-block, a.btn-o-white-r-block, .btn-o-white-block, a.btn-o-white-block, .btn-o-success-r-block, a.btn-o-success-r-block, .btn-o-success-block, a.btn-o-success-block, .btn-o-info-r-block, a.btn-o-info-r-block, .btn-o-info-block, a.btn-o-info-block, .btn-o-danger-r-block, a.btn-o-danger-r-block, .btn-o-danger-block, a.btn-o-danger-block, .btn-o-warning-r-block, a.btn-o-warning-r-block, .btn-o-warning-block, a.btn-o-warning-block, .btn-o-dark-r-block, a.btn-o-dark-r-block, .btn-o-dark-block, a.btn-o-dark-block, .btn-o-light-r-block, a.btn-o-light-r-block, .btn-o-light-block, a.btn-o-light-block, .btn-o-primary-r-block, a.btn-o-primary-r-block, .btn-o-primary-block, a.btn-o-primary-block, .btn-bee-r-block, a.btn-bee-r-block, .btn-bee-block, a.btn-bee-block, .btn-secondary-r-block, a.btn-secondary-r-block, .btn-secondary-block, a.btn-secondary-block, .btn-white-r-block, a.btn-white-r-block, .btn-white-block, a.btn-white-block, .btn-success-r-block, a.btn-success-r-block, .btn-success-block, a.btn-success-block, .btn-info-r-block, a.btn-info-r-block, .btn-info-block, a.btn-info-block, .btn-danger-r-block, a.btn-danger-r-block, .btn-danger-block, a.btn-danger-block, .btn-warning-r-block, a.btn-warning-r-block, .btn-warning-block, a.btn-warning-block, .btn-dark-r-block, a.btn-dark-r-block, .btn-dark-block, a.btn-dark-block, .btn-light-r-block, a.btn-light-r-block, .btn-light-block, a.btn-light-block, .btn-primary-r-block, a.btn-primary-r-block, .btn-primary-block, a.btn-primary-block {
  width: 100%;
}

button, .btn, a.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: unset;
  border-radius: 5px;
  outline: none;
}

.btn-primary, .btn-primary-r, .btn-primary-r-block, a.btn-primary-r-block, a.btn-primary-r, .btn-primary-block, a.btn-primary-block, a.btn-primary {
  background-color: #6182b7;
}
.btn-primary:hover, .btn-primary-r:hover, .btn-primary-r-block:hover, .btn-primary-block:hover, .btn-primary.active, .active.btn-primary-r, .active.btn-primary-r-block, .active.btn-primary-block, a.btn-primary:hover, a.btn-primary.active {
  background-color: #5a79ab;
}
.btn-light, .btn-light-r, .btn-light-r-block, a.btn-light-r-block, a.btn-light-r, .btn-light-block, a.btn-light-block, a.btn-light {
  background-color: #f1f1f1;
  color: #161d20;
}
.btn-light:hover, .btn-light-r:hover, .btn-light-r-block:hover, .btn-light-block:hover, .btn-light.active, .active.btn-light-r, .active.btn-light-r-block, .active.btn-light-block, a.btn-light:hover, a.btn-light.active {
  background-color: #e5e5e5;
}
.btn-dark, .btn-dark-r, .btn-dark-r-block, a.btn-dark-r-block, a.btn-dark-r, .btn-dark-block, a.btn-dark-block, a.btn-dark {
  background-color: #161d20;
}
.btn-dark:hover, .btn-dark-r:hover, .btn-dark-r-block:hover, .btn-dark-block:hover, .btn-dark.active, .active.btn-dark-r, .active.btn-dark-r-block, .active.btn-dark-block, a.btn-dark:hover, a.btn-dark.active {
  background-color: #0d1113;
}
.btn-warning, .btn-warning-r, .btn-warning-r-block, a.btn-warning-r-block, a.btn-warning-r, .btn-warning-block, a.btn-warning-block, a.btn-warning {
  background-color: #ec4908;
}
.btn-warning:hover, .btn-warning-r:hover, .btn-warning-r-block:hover, .btn-warning-block:hover, .btn-warning.active, .active.btn-warning-r, .active.btn-warning-r-block, .active.btn-warning-block, a.btn-warning:hover, a.btn-warning.active {
  background-color: #de450a;
}
.btn-danger, .btn-danger-r, .btn-danger-r-block, a.btn-danger-r-block, a.btn-danger-r, .btn-danger-block, a.btn-danger-block, a.btn-danger {
  background-color: #d9534f;
}
.btn-danger:hover, .btn-danger-r:hover, .btn-danger-r-block:hover, .btn-danger-block:hover, .btn-danger.active, .active.btn-danger-r, .active.btn-danger-r-block, .active.btn-danger-block, a.btn-danger:hover, a.btn-danger.active {
  background-color: #cd4e4a;
}
.btn-info, .btn-info-r, .btn-info-r-block, a.btn-info-r-block, a.btn-info-r, .btn-info-block, a.btn-info-block, a.btn-info {
  background-color: #5bc0de;
}
.btn-info:hover, .btn-info-r:hover, .btn-info-r-block:hover, .btn-info-block:hover, .btn-info.active, .active.btn-info-r, .active.btn-info-r-block, .active.btn-info-block, a.btn-info:hover, a.btn-info.active {
  background-color: #0099CC;
}
.btn-success, .btn-success-r, .btn-success-r-block, a.btn-success-r-block, a.btn-success-r, .btn-success-block, a.btn-success-block, a.btn-success {
  background-color: #009774;
}
.btn-success:hover, .btn-success-r:hover, .btn-success-r-block:hover, .btn-success-block:hover, .btn-success.active, .active.btn-success-r, .active.btn-success-r-block, .active.btn-success-block, a.btn-success:hover, a.btn-success.active {
  background-color: #008668;
}
.btn-white, .btn-white-r, .btn-white-r-block, a.btn-white-r-block, a.btn-white-r, .btn-white-block, a.btn-white-block, a.btn-white {
  background-color: white;
}
.btn-secondary, .btn-secondary-r, .btn-secondary-r-block, a.btn-secondary-r-block, a.btn-secondary-r, .btn-secondary-block, a.btn-secondary-block, a.btn-secondary {
  background-color: #655653;
}
.btn-secondary:hover, .btn-secondary-r:hover, .btn-secondary-r-block:hover, .btn-secondary-block:hover, .btn-secondary.active, .active.btn-secondary-r, .active.btn-secondary-r-block, .active.btn-secondary-block, a.btn-secondary:hover, a.btn-secondary.active {
  background-color: #5f514e;
}
.btn-bee, .btn-bee-r, .btn-bee-r-block, a.btn-bee-r-block, a.btn-bee-r, .btn-bee-block, a.btn-bee-block, a.btn-bee {
  background-color: #ffc40e;
}
.btn-bee:hover, .btn-bee-r:hover, .btn-bee-r-block:hover, .btn-bee-block:hover, .btn-bee.active, .active.btn-bee-r, .active.btn-bee-r-block, .active.btn-bee-block, a.btn-bee:hover, a.btn-bee.active {
  background-color: #efb90e;
}
.btn-o-primary, .btn-o-primary-r, .btn-o-primary-r-block, a.btn-o-primary-r-block, a.btn-o-primary-r, .btn-o-primary-block, a.btn-o-primary-block, a.btn-o-primary {
  background-color: unset;
  color: #6182b7;
  border: solid 1px #6182b7;
}
.btn-o-primary:hover, .btn-o-primary-r:hover, .btn-o-primary-r-block:hover, .btn-o-primary-block:hover, .btn-o-primary.active, .active.btn-o-primary-r, .active.btn-o-primary-r-block, .active.btn-o-primary-block, a.btn-o-primary:hover, a.btn-o-primary.active {
  background-color: #6182b7;
  color: white;
}
.btn-o-light, .btn-o-light-r, .btn-o-light-r-block, a.btn-o-light-r-block, a.btn-o-light-r, .btn-o-light-block, a.btn-o-light-block, a.btn-o-light {
  background-color: unset;
  color: #f1f1f1;
  border: solid 1px #f1f1f1;
}
.btn-o-light:hover, .btn-o-light-r:hover, .btn-o-light-r-block:hover, .btn-o-light-block:hover, .btn-o-light.active, .active.btn-o-light-r, .active.btn-o-light-r-block, .active.btn-o-light-block, a.btn-o-light:hover, a.btn-o-light.active {
  background-color: #f1f1f1;
  color: #161d20;
}
.btn-o-dark, .btn-o-dark-r, .btn-o-dark-r-block, a.btn-o-dark-r-block, a.btn-o-dark-r, .btn-o-dark-block, a.btn-o-dark-block, a.btn-o-dark {
  background-color: unset;
  color: #161d20;
  border: solid 1px #161d20;
}
.btn-o-dark:hover, .btn-o-dark-r:hover, .btn-o-dark-r-block:hover, .btn-o-dark-block:hover, .btn-o-dark.active, .active.btn-o-dark-r, .active.btn-o-dark-r-block, .active.btn-o-dark-block, a.btn-o-dark:hover, a.btn-o-dark.active {
  background-color: #161d20;
  color: white;
}
.btn-o-warning, .btn-o-warning-r, .btn-o-warning-r-block, a.btn-o-warning-r-block, a.btn-o-warning-r, .btn-o-warning-block, a.btn-o-warning-block, a.btn-o-warning {
  background-color: unset;
  color: #ec4908;
  border: solid 1px #ec4908;
}
.btn-o-warning:hover, .btn-o-warning-r:hover, .btn-o-warning-r-block:hover, .btn-o-warning-block:hover, .btn-o-warning.active, .active.btn-o-warning-r, .active.btn-o-warning-r-block, .active.btn-o-warning-block, a.btn-o-warning:hover, a.btn-o-warning.active {
  background-color: #ec4908;
  color: white;
}
.btn-o-danger, .btn-o-danger-r, .btn-o-danger-r-block, a.btn-o-danger-r-block, a.btn-o-danger-r, .btn-o-danger-block, a.btn-o-danger-block, a.btn-o-danger {
  background-color: unset;
  color: #d9534f;
  border: solid 1px #d9534f;
}
.btn-o-danger:hover, .btn-o-danger-r:hover, .btn-o-danger-r-block:hover, .btn-o-danger-block:hover, .btn-o-danger.active, .active.btn-o-danger-r, .active.btn-o-danger-r-block, .active.btn-o-danger-block, a.btn-o-danger:hover, a.btn-o-danger.active {
  background-color: #d9534f;
  color: white;
}
.btn-o-info, .btn-o-info-r, .btn-o-info-r-block, a.btn-o-info-r-block, a.btn-o-info-r, .btn-o-info-block, a.btn-o-info-block, a.btn-o-info {
  background-color: unset;
  color: #5bc0de;
  border: solid 1px #5bc0de;
}
.btn-o-info:hover, .btn-o-info-r:hover, .btn-o-info-r-block:hover, .btn-o-info-block:hover, .btn-o-info.active, .active.btn-o-info-r, .active.btn-o-info-r-block, .active.btn-o-info-block, a.btn-o-info:hover, a.btn-o-info.active {
  background-color: #5bc0de;
  color: white;
}
.btn-o-success, .btn-o-success-r, .btn-o-success-r-block, a.btn-o-success-r-block, a.btn-o-success-r, .btn-o-success-block, a.btn-o-success-block, a.btn-o-success {
  background-color: unset;
  color: #009774;
  border: solid 1px #009774;
}
.btn-o-success:hover, .btn-o-success-r:hover, .btn-o-success-r-block:hover, .btn-o-success-block:hover, .btn-o-success.active, .active.btn-o-success-r, .active.btn-o-success-r-block, .active.btn-o-success-block, a.btn-o-success:hover, a.btn-o-success.active {
  background-color: #009774;
  color: white;
}
.btn-o-white, .btn-o-white-r, .btn-o-white-r-block, a.btn-o-white-r-block, a.btn-o-white-r, .btn-o-white-block, a.btn-o-white-block, a.btn-o-white {
  background-color: unset;
  color: white;
  border: solid 1px white;
}
.btn-o-white:hover, .btn-o-white-r:hover, .btn-o-white-r-block:hover, .btn-o-white-block:hover, .btn-o-white.active, .active.btn-o-white-r, .active.btn-o-white-r-block, .active.btn-o-white-block, a.btn-o-white:hover, a.btn-o-white.active {
  background-color: white;
  color: #161d20;
}
.btn-o-secondary, .btn-o-secondary-r, .btn-o-secondary-r-block, a.btn-o-secondary-r-block, a.btn-o-secondary-r, .btn-o-secondary-block, a.btn-o-secondary-block, a.btn-o-secondary {
  background-color: unset;
  color: #655653;
  border: solid 1px #655653;
}
.btn-o-secondary:hover, .btn-o-secondary-r:hover, .btn-o-secondary-r-block:hover, .btn-o-secondary-block:hover, .btn-o-secondary.active, .active.btn-o-secondary-r, .active.btn-o-secondary-r-block, .active.btn-o-secondary-block, a.btn-o-secondary:hover, a.btn-o-secondary.active {
  background-color: #655653;
  color: white;
}
.btn-o-bee, .btn-o-bee-r, .btn-o-bee-r-block, a.btn-o-bee-r-block, a.btn-o-bee-r, .btn-o-bee-block, a.btn-o-bee-block, a.btn-o-bee {
  background-color: unset;
  color: #ffc40e;
  border: solid 1px #ffc40e;
}
.btn-o-bee:hover, .btn-o-bee-r:hover, .btn-o-bee-r-block:hover, .btn-o-bee-block:hover, .btn-o-bee.active, .active.btn-o-bee-r, .active.btn-o-bee-r-block, .active.btn-o-bee-block, a.btn-o-bee:hover, a.btn-o-bee.active {
  background-color: #ffc40e;
  color: white;
}
/* input text */
.form, .form-r, .form-aria {
  width: 100%;
  height: calc(2.25rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  min-height: 30px;
  padding: 0 10px;
}

.form::placeholder, .form-r::placeholder, .form-aria::placeholder {
  color: #b4b4b4;
}

.form-aria {
  height: auto;
}

.form-r {
  border-radius: 50px;
}

/* input File */
input[type=file] {
  outline: 0;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.file {
  padding: 1em;
  margin: 5px;
}
.file .file__label {
  width: 100%;
  border: 2px dashed #161d20;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
}
.file .file__label i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px;
}
.file .file__label i, .file .file__label .file__title {
  color: #0d1113;
  transition: 200ms color;
}
.file .file__label:hover {
  border: 2px solid #0d1113;
}
.file .file__label:hover i, .file .file__label:hover .file__title {
  color: #0d1113;
}

/* input checkbox */
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.checkbox {
  height: 25px;
  width: 40px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 5px 0 0 0;
  border: 2px solid rgba(71, 71, 85, 0.21);
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  box-shadow: 0 0px 4px rgba(44, 44, 44, 0.3);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.checkbox:checked {
  border-color: #009774;
}
.checkbox:checked:after {
  transform: translatex(15px);
  background: #009774;
}

.bg-light {
  background-color: #f1f1f1;
}
.bg-dark {
  background-color: #161d20;
}
.bg-danger {
  background-color: #d9534f;
}
.bg-warning {
  background-color: #ec4908;
}
.bg-success {
  background-color: #009774;
}
.bg-info {
  background-color: #5bc0de;
}
.bg-primary {
  background-color: #6182b7;
}
.bg-secondary {
  background-color: #655653;
}
.bg-bee {
  background-color: #ffc40e;
}

.f-light, .btn-primary, a.btn-primary, .btn-primary-block, a.btn-primary-block, .btn-primary-r, a.btn-primary-r, .btn-primary-r-block, a.btn-primary-r-block, .btn-dark, a.btn-dark, .btn-dark-block, a.btn-dark-block, .btn-dark-r, a.btn-dark-r, .btn-dark-r-block, a.btn-dark-r-block, .btn-warning, a.btn-warning, .btn-warning-block, a.btn-warning-block, .btn-warning-r, a.btn-warning-r, .btn-warning-r-block, a.btn-warning-r-block, .btn-danger, a.btn-danger, .btn-danger-block, a.btn-danger-block, .btn-danger-r, a.btn-danger-r, .btn-danger-r-block, a.btn-danger-r-block, .btn-info, a.btn-info, .btn-info-block, a.btn-info-block, .btn-info-r, a.btn-info-r, .btn-info-r-block, a.btn-info-r-block, .btn-success, a.btn-success, .btn-success-block, a.btn-success-block, .btn-success-r, a.btn-success-r, .btn-success-r-block, a.btn-success-r-block, .btn-secondary, a.btn-secondary, .btn-secondary-block, a.btn-secondary-block, .btn-secondary-r, a.btn-secondary-r, .btn-secondary-r-block, a.btn-secondary-r-block {
  color: #f1f1f1;
}
.f-dark, .btn-white, a.btn-white, .btn-white-block, a.btn-white-block, .btn-white-r, a.btn-white-r, .btn-white-r-block, a.btn-white-r-block, .btn-bee, a.btn-bee, .btn-bee-block, a.btn-bee-block, .btn-bee-r, a.btn-bee-r, .btn-bee-r-block, a.btn-bee-r-block {
  color: #161d20;
}
.f-danger {
  color: #d9534f;
}
.f-warning {
  color: #ec4908;
}
.f-success {
  color: #009774;
}
.f-info {
  color: #5bc0de;
}
.f-primary {
  color: #6182b7;
}
.f-secondary {
  color: #655653;
}
.f-bee {
  color: #ffc40e;
}
.f-center {
  text-align: center;
}
.f-right {
  text-align: right;
}
.f-left {
  text-align: left;
}
.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-30 {
  font-size: 30px;
}
.f-40 {
  font-size: 40px;
}
.f-50 {
  font-size: 50px;
}
.f-60 {
  font-size: 60px;
}
.f-70 {
  font-size: 70px;
}
.f-80 {
  font-size: 80px;
}

.m-0 {
  margin: 0;
}
.m-0-1 {
  margin: 0 10px;
}
.m-0-15 {
  margin: 0 15px;
}
.m-0-2 {
  margin: 0 20px;
}
.m-0-3 {
  margin: 0 30px;
}
.m-0-4 {
  margin: 0 40px;
}
.m-0-5 {
  margin: 0 50px;
}
.m-0-auto {
  margin: 0 auto;
}
.m-1 {
  margin: 10px;
}
.m-1-0 {
  margin: 10px 0;
}
.m-1-15 {
  margin: 10px 15px;
}
.m-1-2 {
  margin: 10px 20px;
}
.m-1-3 {
  margin: 10px 30px;
}
.m-1-4 {
  margin: 10px 40px;
}
.m-1-5 {
  margin: 10px 50px;
}
.m-1-auto {
  margin: 10px auto;
}
.m-2 {
  margin: 20px;
}
.m-2-0 {
  margin: 20px 0;
}
.m-2-1 {
  margin: 20px 10px;
}
.m-2-15 {
  margin: 20px 15px;
}
.m-2-3 {
  margin: 20px 30px;
}
.m-2-4 {
  margin: 20px 40px;
}
.m-2-5 {
  margin: 20px 50px;
}
.m-2-auto {
  margin: 20px auto;
}
.m-3 {
  margin: 30px;
}
.m-3-0 {
  margin: 30px 0;
}
.m-3-1 {
  margin: 30px 10px;
}
.m-3-15 {
  margin: 30px 15px;
}
.m-3-2 {
  margin: 30px 20px;
}
.m-3-4 {
  margin: 30px 40px;
}
.m-3-5 {
  margin: 30px 50px;
}
.m-3-auto {
  margin: 30px auto;
}
.m-4 {
  margin: 40px;
}
.m-4-0 {
  margin: 40px 0;
}
.m-4-1 {
  margin: 40px 10px;
}
.m-4-15 {
  margin: 40px 15px;
}
.m-4-2 {
  margin: 40px 20px;
}
.m-4-3 {
  margin: 40px 30px;
}
.m-4-5 {
  margin: 40px 50px;
}
.m-4-auto {
  margin: 40px auto;
}
.m-5 {
  margin: 50px;
}
.m-5-0 {
  margin: 50px 0;
}
.m-5-1 {
  margin: 50px 10px;
}
.m-5-15 {
  margin: 50px 15px;
}
.m-5-2 {
  margin: 50px 20px;
}
.m-5-3 {
  margin: 50px 30px;
}
.m-5-4 {
  margin: 50px 40px;
}
.m-5-auto {
  margin: 50px auto;
}
.m-auto {
  margin: auto;
}
.m-auto-0 {
  margin: auto 0;
}
.m-auto-1 {
  margin: auto 10px;
}
.m-auto-15 {
  margin: auto 15px;
}
.m-auto-2 {
  margin: auto 20px;
}
.m-auto-3 {
  margin: auto 30px;
}
.m-auto-4 {
  margin: auto 40px;
}
.m-auto-5 {
  margin: auto 50px;
}
.m-15 {
  margin: 15px;
}
.m-15-0 {
  margin: 15px 0;
}
.m-15-1 {
  margin: 15px 10px;
}
.m-15-2 {
  margin: 15px 20px;
}
.m-15-3 {
  margin: 15px 30px;
}
.m-15-4 {
  margin: 15px 40px;
}
.m-15-5 {
  margin: 15px 50px;
}
.m-15-auto {
  margin: 15px auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-auto {
  margin-top: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}
.ml-auto {
  margin-left: auto;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}
.mr-auto {
  margin-right: auto;
}

.p-0 {
  padding: 0;
}
.p-0-1 {
  padding: 0 10px;
}
.p-0-15 {
  padding: 0 15px;
}
.p-0-2 {
  padding: 0 20px;
}
.p-0-3 {
  padding: 0 30px;
}
.p-0-4 {
  padding: 0 40px;
}
.p-0-5 {
  padding: 0 50px;
}
.p-1 {
  padding: 10px;
}
.p-1-0 {
  padding: 10px 0;
}
.p-1-15 {
  padding: 10px 15px;
}
.p-1-2 {
  padding: 10px 20px;
}
.p-1-3 {
  padding: 10px 30px;
}
.p-1-4 {
  padding: 10px 40px;
}
.p-1-5 {
  padding: 10px 50px;
}
.p-2 {
  padding: 20px;
}
.p-2-0 {
  padding: 20px 0;
}
.p-2-1 {
  padding: 20px 10px;
}
.p-2-15 {
  padding: 20px 15px;
}
.p-2-3 {
  padding: 20px 30px;
}
.p-2-4 {
  padding: 20px 40px;
}
.p-2-5 {
  padding: 20px 50px;
}
.p-3 {
  padding: 30px;
}
.p-3-0 {
  padding: 30px 0;
}
.p-3-1 {
  padding: 30px 10px;
}
.p-3-15 {
  padding: 30px 15px;
}
.p-3-2 {
  padding: 30px 20px;
}
.p-3-4 {
  padding: 30px 40px;
}
.p-3-5 {
  padding: 30px 50px;
}
.p-4 {
  padding: 40px;
}
.p-4-0 {
  padding: 40px 0;
}
.p-4-1 {
  padding: 40px 10px;
}
.p-4-15 {
  padding: 40px 15px;
}
.p-4-2 {
  padding: 40px 20px;
}
.p-4-3 {
  padding: 40px 30px;
}
.p-4-5 {
  padding: 40px 50px;
}
.p-5 {
  padding: 50px;
}
.p-5-0 {
  padding: 50px 0;
}
.p-5-1 {
  padding: 50px 10px;
}
.p-5-15 {
  padding: 50px 15px;
}
.p-5-2 {
  padding: 50px 20px;
}
.p-5-3 {
  padding: 50px 30px;
}
.p-5-4 {
  padding: 50px 40px;
}
.p-15 {
  padding: 15px;
}
.p-15-0 {
  padding: 15px 0;
}
.p-15-1 {
  padding: 15px 10px;
}
.p-15-15 {
  padding: 15px 15px;
}
.p-15-2 {
  padding: 15px 20px;
}
.p-15-3 {
  padding: 15px 30px;
}
.p-15-4 {
  padding: 15px 40px;
}
.p-15-5 {
  padding: 15px 50px;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}

table {
  width: 100%;
}
table tbody tr:nth-child(even) {
  background-color: #eee;
}
table tbody tr:nth-child(odd) {
  background-color: #fff;
}
table tbody tr th {
  text-align: right;
}
table tbody tr th:first-child {
  width: 60px;
}
table tbody tr td:not(.name), table tbody tr table th {
  color: black;
}
table tbody tr th, table tbody tr td {
  padding: 10px 5px;
}
table thead {
  font-weight: bold;
  background-color: #eee;
}
table thead th {
  padding: 5px;
}

.alert, .alert-bee, .alert-secondary, .alert-success, .alert-info, .alert-danger, .alert-warning, .alert-dark, .alert-light, .alert-primary {
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}
.alert-primary {
  background-color: rgba(90, 121, 171, 0.3);
  border: 1px solid #5a79ab;
  color: #5a79ab;
}
.alert-light {
  background-color: rgba(229, 229, 229, 0.3);
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}
.alert-dark {
  background-color: rgba(229, 229, 229, 0.3);
  border: 1px solid #0d1113;
  color: #0d1113;
}
.alert-warning {
  background-color: rgba(222, 69, 10, 0.3);
  border: 1px solid #de450a;
  color: #de450a;
}
.alert-danger {
  background-color: rgba(205, 78, 74, 0.3);
  border: 1px solid #cd4e4a;
  color: #cd4e4a;
}
.alert-info {
  background-color: rgba(0, 153, 204, 0.3);
  border: 1px solid #0099CC;
  color: #0099CC;
}
.alert-success {
  background-color: rgba(0, 134, 104, 0.3);
  border: 1px solid #008668;
  color: #008668;
}
.alert-secondary {
  background-color: rgba(95, 81, 78, 0.3);
  border: 1px solid #5f514e;
  color: #5f514e;
}
.alert-bee {
  background-color: rgba(239, 185, 14, 0.3);
  border: 1px solid #efb90e;
  color: #efb90e;
}

.progress {
  background-color: #f1f1f1;
  width: 100%;
  height: 10px;
  color: white;
  border-radius: 50px;
}

.progress .progressbar {
  background-color: #009774;
  width: 60%;
  height: 10px;
  padding: 5px 0 5px 0;
  border-radius: 50px;
}

/*# sourceMappingURL=MaxUp.css.map */
