/* MaxUp-Scroll */

::-webkit-scrollbar-button{
    background-color: rgba(0,0,0,0);
    margin: 15px 0;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background:  #0275d8;
    border-radius: 10px;
    scroll-padding-block-start: 10px;
}
::-webkit-scrollbar-thumb:active{
    background:  #00a0d6;
}
::-webkit-scrollbar-track{
    display: none;
}